/*INPUT*/
.input {
    font-family: "Montserrat", sans-serif;
    padding: 8px 16px;
    width: 112px;
    height: 36px;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
}

.input::placeholder {
    color: #8B8B8B;
}

.input:disabled {
    background-color: #ebebeb;
    color: #adadad;
}
.input:disabled::placeholder {
    color: #c9c9c9;
}
@media (max-width: 1440px) {

    .input {
        font-size: 15px;
    }
}

@media (max-width: 1280px) {

    .input {
        font-size: 14px;
        padding: 8px 15px;
        height: 35px;
    }
}

@media (max-width: 992px) {

    .input {
        font-size: 13px;
        padding: 8px 14px;
        height: 34px;
    }
}

@media (max-width: 768px) {

    .input {
        font-size: 12px;
        padding: 8px 13px;
        height: 33px;
    }
}

/*END INPUT*/