/*PRODUCT-DETAIL*/
.product-detail {
    display: flex;
    gap: 32px;
}

@media (max-width: 1440px) {
    .product-detail {
        gap: 30px;
    }
}

@media (max-width: 1440px) {
    .product-detail {
        gap: 28px;
    }
}

@media (max-width: 1280px) {
    .product-detail {
        gap: 26px;
    }
}

@media (max-width: 992px) {
    .product-detail {
        gap: 24px;
    }

}

@media (max-width: 768px) {
    .product-detail {
        flex-direction: column;
    }
}

/*product-detail__gallery*/
.product-detail__gallery {
    width: 780px;
    height: 572px;
    flex-shrink: 0;
    display: flex;
    gap: 22px;
}

.product-detail__gallery-thumbnails {
    width: 210px;
    height: 100%;
    padding-right: 5px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 16px;
}

.product-detail__gallery-thumbnails::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.product-detail__gallery-thumbnails::-webkit-scrollbar-thumb {
    background: #797979;
    border-radius: 50px;
}

.product-detail__gallery-thumbnails::-webkit-scrollbar-track {
    background: #FFF;
}

.product-detail__gallery-thumbnail {
    width: 100%;
    flex-shrink: 0;
    aspect-ratio: 205 / 180;
    overflow: hidden;
    border-radius: 12px;
    background-color: #f7f7f7;
    border: 1px solid #DDDDDD;
    transition: border-color 400ms ease;
    cursor: pointer;
}

.product-detail__gallery-thumbnail.active {
    border-color: #339933;
}

.product-detail__gallery-thumbnail:hover {
    border-color: #339933;
}

.product-detail__gallery-thumbnail img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-detail__gallery-full-size {
    overflow: hidden;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid #DEDEDE;
}

.product-detail__gallery-full-size img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 1440px) {

    .product-detail__gallery {
        width: 750px;
        height: 550px;
        gap: 28px;
    }

    .product-detail__gallery-thumbnails {
        width: 192px;
    }
}

@media (max-width: 1440px) {

    .product-detail__gallery {
        width: 750px;
        height: 550px;
        gap: 28px;
    }

    .product-detail__gallery-thumbnails {
        width: 192px;
    }

    .product-detail__gallery-thumbnail {
        border-radius: 11px;
    }
}

@media (max-width: 1280px) {

    .product-detail__gallery {
        width: 600px;
        height: 440px;
        gap: 22px;
    }

    .product-detail__gallery-thumbnails {
        width: 151px;
    }

    .product-detail__gallery-thumbnail {
        border-radius: 10px;
    }
}

@media (max-width: 992px) {

    .product-detail__gallery {
        width: 390px;
        height: 390px;
        gap: 16px;
    }

    .product-detail__gallery-thumbnails {
        width: 78px;
        gap: 8px;
    }

    .product-detail__gallery-thumbnail {
        border-radius: 8px;
    }
}

@media (max-width: 768px) {

    .product-detail__gallery {
        width: 100%;
        height: 100%;
        flex-direction: column;
        aspect-ratio: unset;
    }

    .product-detail__gallery-full-size {
        order: 1;
    }

    .product-detail__gallery-thumbnails {
        width: 100%;
        order: 2;
        flex-direction: row;
        padding-right: 0;
        padding-bottom: 5px;
    }

    .product-detail__gallery-thumbnail {
        border-radius: 6px;
        width: 120px;
        height: 100px;
    }
}

@media (max-width: 400px) {
    .product-detail__gallery {
        gap: 5px;
    }

    .product-detail__gallery-thumbnail {
        border-radius: 5px;
    }
}

/*end product-detail__gallery*/

/*product-detail__information*/

.product-detail__information {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media (max-width: 1440px) {
    .product-detail__information {
        gap: 30px;
    }
}

@media (max-width: 1280px) {
    .product-detail__information {
        gap: 28px;
    }
}

@media (max-width: 992px) {
    .product-detail__information {
        gap: 26px;
    }
}

@media (max-width: 768px) {
    .product-detail__information {
        gap: 24px;
    }
}

/*end product-detail__information*/

/*product-detail__title*/
.product-detail__title {
    font-weight: 700;
    font-size: var(--subtitle-size);
    line-height: 110%;
    color: var(--secondary-color);
}

@media (max-width: 1440px) {
    .product-detail__title {
        font-size: var(--subtitle-size-lg);
    }
}

@media (max-width: 1280px) {
    .product-detail__title {
        font-size: var(--subtitle-size-md);
    }
}

@media (max-width: 992px) {
    .product-detail__title {
        font-size: var(--subtitle-size-sm);
    }
}

@media (max-width: 768px) {
    .product-detail__title {
        font-size: var(--subtitle-size-xs);
    }
}

@media (max-width: 400px) {
    .product-detail__title {
        font-size: var(--subtitle-size-mob);
    }
}

/*end product-detail__title*/

/*product-detail__prices*/
.product-detail__prices {
    display: flex;
    gap: 16px;
}

.product-detail__current-price {
    font-style: normal;
    font-weight: 700;
    font-size: var(--title-size);
    line-height: 110%;
    color: var(--secondary-color);
}

.product-detail__old-price {
    margin-left: 16px;
    font-weight: 500;
    font-size: var(--subtitle-size);
    line-height: 130%;
    text-decoration-line: line-through;
    color: #8B8B8B;
    align-self: end;
}

.product-detail__sale {
    padding: 4px 8px;
    background: #0D50FF;
    border-radius: 6px;
    color: #FFF;
    font-size: var(--standart-size);
    font-weight: 500;
    line-height: 130%;
    align-self: start;
}

@media (max-width: 1440px) {
    .product-detail__current-price {
        font-size: var(--title-size-lg);
    }

    .product-detail__old-price {
        margin-left: 16px;
        font-size: var(--subtitle-size-lg);
    }

    .product-detail__sale {
        font-size: var(--standart-size-lg);
    }
}

@media (max-width: 1280px) {

    .product-detail__current-price {
        font-size: var(--title-size-md);
    }

    .product-detail__old-price {
        margin-left: 16px;
        font-size: var(--subtitle-size-md);
    }

    .product-detail__sale {
        font-size: var(--standart-size-md);
    }
}

@media (max-width: 992px) {

    .product-detail__current-price {
        font-size: var(--title-size-sm);
    }

    .product-detail__old-price {
        margin-left: 16px;
        font-size: var(--subtitle-size-sm);
    }

    .product-detail__sale {
        font-size: var(--standart-size-sm);
    }
}

@media (max-width: 768px) {
    .product-detail__prices {
        gap: 14px;
    }

    .product-detail__current-price {
        font-size: var(--title-size-xs);
    }

    .product-detail__old-price {
        margin-left: 16px;
        font-size: var(--subtitle-size-xs);
    }

    .product-detail__sale {
        font-size: var(--standart-size-xs);
    }
}

@media (max-width: 400px) {

    .product-detail__current-price {
        font-size: var(--title-size-mob);
    }

    .product-detail__old-price {
        margin-left: 16px;
        font-size: var(--subtitle-size-mob);
    }

    .product-detail__sale {
        font-size: var(--standart-size-mob);
    }
}

/*end product-detail__prices*/

/*product-detail__actions*/
.product-detail__actions {
    display: flex;
    gap: 32px;
}

.product-detail__actions .button {
    flex: 1 1 auto;
}

@media (max-width: 1440px) {
    .product-detail__actions {
        gap: 30px;
    }
}

@media (max-width: 1280px) {
    .product-detail__actions {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 992px) {
    .product-detail__actions {
        gap: 18px;
    }
}

@media (max-width: 768px) {
    .product-detail__actions {
        gap: 16px;
    }
}

/*end product-detail__actions*/

/*product-detail__description*/
.product-detail__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-detail__description-title {
    font-weight: 600;
    font-size: var(--standart-size);
    line-height: 130%;
    color: var(--secondary-color);
}

.product-detail__description-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--secondary-color);
}

.product-detail__description-read-more-link {
    width: fit-content;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-decoration-line: underline;
    color: var(--secondary-color);
    cursor: pointer;
    padding: 0;
    transition: color 400ms ease;
}

.product-detail__description-read-more-link:hover {
    color: var(--main-color);
}

@media (max-width: 1440px) {

    .product-detail__description-title {
        font-size: var(--standart-size-lg);
    }

    .product-detail__description-text {
        font-size: 15px;
    }

    .product-detail__description-read-more-link {
        font-size: 15px;
    }
}

@media (max-width: 1280px) {

    .product-detail__description-title {
        font-size: var(--standart-size-md);
    }

    .product-detail__description-text {
        font-size: 14px;
    }

    .product-detail__description-read-more-link {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .product-detail__description {
        gap: 12px;
    }

    .product-detail__description-title {
        font-size: var(--standart-size-sm);
    }
}

@media (max-width: 768px) {
    .product-detail__description-title {
        font-size: var(--standart-size-xs);
    }

    .product-detail__description-text {
        font-size: 13px;
    }

    .product-detail__description-read-more-link {
        font-size: 13px;
    }
}

@media (max-width: 400px) {
    .product-detail__description-title {
        font-size: var(--standart-size-mob);
    }
}

/*end product-detail__description*/

/*END PRODUCT-DETAIL*/