/*ANIMATION-LOADER*/
.animation-loader {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f3f4;
    border-radius: 12px;
}

.animation-loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.6) 50%, transparent 100%);
    animation: loadingAnimation 1.5s infinite;
}

@keyframes loadingAnimation {
    0% {
        left: -150px;
    }

    100% {
        left: 100%;
    }
}

.animation-loader__content {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.animation-loader__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--secondary-color);
}

.animation-loader__animation {
    width: 150px;
    height: 75px;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1050 75'%3E%3Cpath fill='%230D50FF' fill-rule='evenodd' d='M915.986 4.489c11.314.533 6.724-3.697 17.653 3.864 3.525 2.439 9.903 6.85 13.329 9.645-.562 2.281-3.417 8.17-5.921 8.934-5.557 1.694-3.91-4.807-10.997-4.702-2.377 1.337-2.291 2.254-4.425 4.085-1.484 1.273-3.722 2.476-5.588 3.468-10.232 5.444-8.289 2.315-12.31 4.712-.028 3.414 2.158 4.865 5.124 5.428 3.998.76 6.155-.658 8.684-2.722 4.029-3.29 10.756-9.235 14.062-2.706-1.643 2.295-4.494 3.037-7.333 3.68-4.132.938-5.998.033-5.51 5.147 10.381 3.66 13.728-3.384 22.983-3.298 7.275.068 15.527.401 22.105-2.94 1.736-.88 1.251-.693 2.905-1.457 1.951 5.635 5.79 6.454 10 8.828-.599 2.829-2.627 4.428-4.083 7.463-2.405 5.013-6.767 13.36-4.26 18.93 1.454 3.23 6.537 3.506 9.307 1.955 1.691-4.206-2.515-5.491-3.931-8.311 1.502-3.036 5.308-7.315 7.609-9.816 2.766-3.005 5.221-6.79 10.548-6.686 1.995 2.147.755 2.218 3.375 4.117 2.938 2.128 9.328 3.99 14.898 8.322 4.57 3.556 15.3 11.812 21.54 6.563 1.44-4.545-3.02-4.322-6.83-4.84-6.12-.831-17.38-12.885-21.06-17.158 2.05-3.652 15.4-8.438 20.25-6.762 3.97 1.371 7.45 3.053 12.1.853 2.04-.96 5.26-2.854 5.75-5.634.95-5.512-3.24-1.747-10.08-8.962-4.59-4.835-4.49-4.477-12.28-4.093-1.54-5.165-5.25-9.214-11.37-7.123-1.16 5.654 4.38 4.08 4.15 11.503-7.86.642-6.29.136-11.58-2.233-3.56-1.595-7.938-1.434-12.387-1.9-10.677-1.12-12.323-3.158-20.783-6.742-9.835-4.167-18.413.33-23.616-2.603-2.651-1.494-5.359-3.672-8.448-5.83-1.391-.972-2.31-1.633-4.194-2.565L930.827.417c-4.363-1.282-12.671 2.111-14.841 4.072ZM71.508 74.99h7.637l.11-3.75c-5.319-4.659-5.085-4.281 6.47-15.54 9.84-9.588 5.191-7.885 15.552-12.897 5.851-2.83 13.086-10.009 19.372-10.197 9.081-.272 19.731 2.491 19.584-8.61l-1.636-.819c-9.924-4.113-10.582-8.139-14.275-8.779-4.632-.802-6.566 1.59-10.509.918-4.475-.764-5.704-1.619-11.091-1.129-.809 4.564-.318 4.104 1.009 7.807-4.695-.519-5.968-2.235-9.882-3.378-3.441-1.005-6.132-.868-9.651-2.369-5.932-2.53-10.046-5.683-17.433-7.241-10.805-2.28-18.877 2.344-25.707 9.474-1.914 1.998-3.391 4.4-5.712 6.16-5.773 0-12.583-4.772-15.721-7.42-4.103-3.462-10.204-9.197-15.12-5.972 4.312 2.595 5.644 2.833 8.543 6.616 3.914 5.108 11.032 10.639 17.214 12.779 5.38 1.862 6.818-1.576 11.822-1.181 2.492 2.409 5.77 5.757 7.072 9.453l-8.825-1.365c.031 9.395 3.681 4.745 3.66 25.703 12.163-2.163 3.067-11.569 3.028-18.609 12.13-2.134 12.954 9.292 15.28 15.198 4.062.542 3.966-.341 6.219-2.561.734-7.821-3.11-7.293-5.813-12.288 1.41-1.01-.318-.097 1.922-.81l1.276-.304c4.851-1.317 3.182-3.02 4.632-3.82 6.805-.793 7.067 2.537 6.166 8.612-.544 3.667-.526 10.101-3.707 11.416-1.983.82-12.58-.114-7.891 5.913 3.048 3.918.708-3.498 6.405 8.99Zm172.627-25.497c2.264-1.346 4.07-1.647 6.354-3.435 3.021-2.365 12.226-12.213 14.899-12.904 3.928-1.014 11.875.06 16.89-1.681 3.715-1.29 7.405-7.03 5.839-11.614-5.428-.498-6.718.907-11.271-1.542-2.728-1.466-5.095-4.341-9.159-3.28-1.845.481-11.382 6.463-18.96 5.824l-1.497 3.489c-6.65-2.63-7.243-1.143-14.264-1.66-2.96-.22-8.387-3.275-11.009-4.925-3.953-2.487-6.706-4.316-11.406-4.65-5.338-.379-10.023-.31-13.501 1.87-7.973 5.001-8.372 12.928-14.891 17.353-11.294 7.667-17.664 4.47-25.385 6.656l.871.618c1.425.831-.347-.068.949.526.876.401 1.192.455 2.194.707 6.858 1.72 15.852 1.665 22.255-1.62 2.823-1.447 3.585-3.211 6.536-3.656 2.222 1.89 3.846 3.264 6.265 4.925-.577 3.574-2.804 1.128-4.151 5.999 1.772 3.067 8.835 5.48 12.027 6.823a148.663 148.663 0 0 0 6.955 2.734c6.197 2.253 4.775 2.149 5.229 3.816-3.585.896-10.452-.102-13.725 1.625-.633 11.18 19.176 1.371 20.019 1.427 2.931.195 6.51 1.74 7.795 3.968 1.261 2.184.209 1.43 1.828 2.514 1.141.764 2.994.916 4.92.931 17.622.134 7.588-18.552 7.394-20.838ZM354.682 74.99h9.539c.726-5.63-1.322-6.138-6.168-6.838-4.437-.641-5.288-2.263-7.308-5.91.642-2.926 2.514-4.203 4.04-6.305 1.957-2.695 2.048-5.033 4.751-5.37 1.76 3.037.524 4.063 3.599 6.54 8.536 6.88 13.487 12.057 21.467 9.237.692-5.694-7.893-6.705-12.416-10.047-6.527-4.824-5.499-7.733-4.964-17.346 2.588.58 5.571 2.555 7.932 3.896 3.706 2.103 4.471 2.227 9.089 3.244 2.726 7.13 5.872 6.423 2.673 9.132-2.313 1.747-4.948-3.36-8.297-.17-3.636 4.27 8.347 6.58 12.049 5.427 6.894-2.148 2.051-9.718 4.868-14.58 1.22-1.06-1.81-1.037 2.606-.743.472.031 14.367 3.946 16.505 6.68-2.553 2.285-6.804 2.396-8.532 5.906 3.738 7.485 15.503.33 16.526-7.072.971-7.02-13.049-8.363-15.717-13.176 1.17-2.252 2.922-1.163 8.266-6.53 10.772-10.82 16.298-.71 21.893-7.306 1.705-2.01 4.523-6.326 4.533-9.5l-10.953-.489c-4.309-5.297-6.482-6.348-12.518-3.76-6.765 2.902-11.264-.19-11.171 8.947-6.736-.27-29.664.472-33.914-.891-9.764-3.133-19.107-1.258-26.335 4.443-7.514 5.925-5.848 12.144-15.965 17.763-9.369 5.204-27.635-.082-28.605.323 16.541 13.615 26.501 6.268 36.417 1.449 18.539 8.728 5.002 17.223 5.098 20.298 1.631 5.737 9.088 8.27 11.012 12.748Zm220.001-19.272c5.246-5.987-2.548-8.795-4.167-12.224 9.362-5.304 17.846 14.317 23.277 3-2.031-4.007-9.185-7.542-14.099-9.823-7.326-3.401-13.943 2.361-20.835-1.51.049-3.106.141-2.075 3.121-4.08 6.776-4.56 6.191-8.488 13.687-6.987 4.174.835 9.233-.098 12.296-1.56 3.228-1.542 4.622-6.86 4.392-10.406-5.841-1.175-6.888 1.376-11.303-2.26-9.31-7.666-7.808-2.695-20.889-2.012-3.641.19-5.992.907-8.581 5.642l2.568.91c1.033.28.996.008 2.226.418-3.681 2.54-9.849 1.657-14.939 1.75-4.676.085-8.73 2.515-12.688 3.692-8.939 2.66-20.704-2.35-29.792 1.6-4.42 1.921-5.904 5.18-11.365 5.478-18.523 1.01-12.639 11.778-35.323 13.88l2.614 1.27c16.369 5.651 20.688-11.805 33.43-9.284 1.571 5.543 2.251 6.37-1.658 10.11-5.692 5.447-7.158 5.284-8.433 6.553-1.755 1.748-1.784 4.07-5.707 9.196-8.608 11.248 4.011 17.703 7.563 13.783 2.314-4.503-1.033-3.99-4.006-5.363-.895-10.53 21.422-19.123 24.969-19.164 8.467 8.499-5.161 11.383 3.829 18.32 1.404 1.084 3.02 1.829 4.151 2.598 2.149 1.46 1.68 1.811 3.354 3.375 2.142 2 8.769 2.26 10.699.455 6.014-5.508-8.935-1.768-11.444-11.145-.953-3.558 1.493-6.34 2.836-9.523 1.616-3.832 1.451-6.08 1.662-10.353 9.348.758 11.784 7.965 27.59 1.833l1.041.607c.178.108.794.506.999.627 2.68 1.586 3.055 1.53 6.942 1.693 3.478.147 15.847.945 16.467 4.368.778 4.293-3.617 1.458-6.823 3.561-.385 3.107-.977 2.674 1.32 4.123 2.671 1.684 8.083.203 11.019-3.148Zm169.552-37.44c-.487-3.147-5.632-.749-10.821-4.315-3.005-2.067-4.661-4.24-8.51-4.345-5.921-.162 1.481 1.226-11.265-.17-3.712-.405-8.318.39-9.623 3.3 4.42 3.13 2.927 1.427 5.536 3-3.516 2.664-10.664-.095-14.624-.673-7.185-1.048-14.887 5.621-29.951 4.789-5.564-.307-9.827-2.214-15.655-.162-7.494 2.638-7.519 1.125-13.923-.388-11.887-2.809-29.871 6.077-33.973 16.01 4.367-1.379 7.363-5.667 17.222-9.22 7.859-2.833 14.476-2.552 20.755.833-2.252 6.614-7.504 13.559-15.472 15.836-7.226 2.064-5.101 1.098-9.931 5.885-6.507 6.451-5.579 2.544-11.479 4.18-2.053 6.604 7.186 8.339 11.82 5.187 9.02-6.135 5.016-8.308 12.768-8.727-2.868 3.445-7.138 11.093-7.423 15.182-.596 8.532 4.891 9.864 11.923 8.453.075-4.586.412-3.216-3.617-5.876-.884-.584-.741-.492-1.341-1.065.175-3.92 1.051-3.335 3.773-7.634 3.225-5.095 6.089-2.138 13.234-5.495 10.211-4.797 9.375-5.839 14.808-14.373 17.388-1.986 14.784 9.536 35.862 5.019 4.536-.973 5.512-3.306 9.589-.79 4.922 3.04 4.842 2.118 10.825 3.648 3.832.98 5.928 3.342 8.575 4.651 3.271 1.619 25.658 2.463 21.251-4.037-3.337-2.71-16.795 3.46-25.639-5.787 10.366-4.837 15.013 5.335 22.343 1.55 1.884-9.728-25.388-6.054-29.201-8.248.576-3.633 4.372-4.334 7.454-6.177 5.212-3.115 3.98-2.036 10.326-.841 4.551.856 7.338.64 10.65-2.127 2.649-2.213 4.219-3.94 3.734-7.072Zm130.913-6.822c-1.344-1.161-1.505-2.219-3.77-2.856-1.526-.43-4.733-.384-6.315-.1-3.083.552-2.944.722-4.062 2.974 4.127 2.301 6.438.998 7.957 5.389-6.522 2.203-8.776.21-14.135-1.437-4.698-1.443-10.418-.153-15.366.023-11.493.408-19.405-3.996-28.458-3.738-6.402.182-8.406 3.732-13.409.279-3.589-2.478-5.754-4.039-10.803-4.95-9.056-1.636-20.538.429-26.734 4.308 15.53-.641 25.387-2.185 35.954 7.507-2.603 8.042-2.46 7.53-6.453 13.842-4.792-.792-10.603-6.37-14.857-1.541-5.126 5.818-3.192 5.196-12.023 6.67-.316 3.665 1.525 4.995 3.098 7.168-6.576 8.584-14.709 2.135-13.407 10.741 15.62 3.358 16.62-12.825 34.829-10.407 8.558 1.136 6.601-3.875 17.064-5.388 7.039-1.017 10.41-6.865 16.481-7.164 4.592 2.22 5.488 6.375 11.688 8.762 6.173 2.377 10.208 1.67 17.218 1.391.759 8.29-.212 7.15 4.046 12.539 2.717 3.439 12.333 15.562 15.708 17.259 3.273 1.645 10.465 1.195 13.559-.755l-.504-3.375c-4.106-1.277-5.87.627-8.934-1.488-1.238-.854-4.027-4.23-5.05-5.43-3.78-4.432-6.861-7.158-7.467-13.536 5.328 1.61 37.842 16.272 38.171 2.153-11.256-3.832-4.475 3.919-20.067-3.673-7.665-3.732-13.306-4.53-15.541-9.128 1.916-4.028 13.264-8.119 18.496-7.891 3.726.161 6.876 2.772 11.262.321 1.908-1.066 5.118-4.316 5.831-6.678-1.108-1.28.213-.42-2.021-1.53-.97-.484-1.483-.477-2.676-1.031-1.163-.54-2.582-1.584-4.149-2.68-12.487-8.742-10.119-2.191-15.161-6.55Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    animation: animation 0.7s steps(7) infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes animation {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -1050px 0;
    }
}

@media (max-width: 1280px) {
    .animation-loader {
        height: 300px;
    }

    .animation-loader__text {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .animation-loader {
        height: 200px;
    }

    .animation-loader__text {
        font-size: 14px;
    }
}

/*END ANIMATION-LOADER*/