/*NAV*/
.nav {
    flex-shrink: 0;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav__item {
    display: block;
}

.nav__item-link {
    font-style: normal;
    font-weight: 500;
    font-size: var(--standart-size);
    text-decoration: none;
    color: var(--secondary-color);
    white-space: nowrap;
    line-height: 130%;
    cursor: pointer;
    transition: color 300ms;
}

.nav__item-link:hover,
.nav__item-link:global(.active) {
    color: var(--main-color);
}

@media (max-width: 1440px) {
    .nav__item-link {
        font-size: var(--standart-size-lg);
    }
}

@media (max-width: 1280px) {
    .nav__item-link {
        font-size: var(--standart-size-md);
    }
}

@media (max-width: 992px) {
    .nav__item-link {
        font-size: var(--standart-size-sm);
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}


/*END NAV*/